<!DOCTYPE html>
<head>
    <title>Learning AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js" type="text/javascript"></script>
    <script src="http://download.pouchdb.com/pouchdb-nightly.js"></script>
    <script src="app.js" type="text/javascript"></script>
    <script src="maincontroller.js" type="text/javascript"></script>
</head>
<body>
    <div id="content" ng-app='MyTutorialApp' ng-controller='MainController'>
        <ul>
            <li ng-repeat="item in items">
                {{item.text}}
                <button ng-click="remove(item._id)">Delete</button>
            </li>
        </ul>
        <input type='text' ng-model='text' />
        <button ng-click="submit()">Add Item</button>
        {{item}}
    </div>
</body>
</html>